* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: var(--app-menu-bg);
  height: 50px;
  .menu {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
    height: 100%;
    .menu-item {
      height: 100%;
      list-style-type: none;
      // background-color: var(--app-bg-color);
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px 0px;
      cursor: pointer;

      .menu-item-text,
      .menu-item-icon {
        color: #b3b3b3;
        font-size: 18px;
      }
    }
  }
}

.active {
  .menu-item-text,
  .menu-item-icon {
    color: var(--app-menu-item-active-text-color) !important;
  }
}
