<nav class="navbar">
  <ul class="menu">
    <li class="menu-item" routerLink="/contributions" routerLinkActive="active">
      <!-- <span class="menu-item-text">Contributions</span> -->
      <span class="menu-item-icon"><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
    </li>
    <li class="menu-item" routerLink="/expenses" routerLinkActive="active">
      <!-- <span class="menu-item-text">Expenses</span> -->
      <span class="menu-item-icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
    </li>
    <li class="menu-item" routerLink="/utilization" routerLinkActive="active">
      <!-- <span class="menu-item-text">Utilization</span> -->
      <span class="menu-item-icon"><i class="fa-solid fa-chart-pie"></i></span>
    </li>
    <li class="menu-item" routerLink="/settings" routerLinkActive="active">
      <!-- <span class="menu-item-text">Settings</span> -->
      <span class="menu-item-icon"><i class="fa-solid fa-user"></i></span>
    </li>
  </ul>
</nav>
