.err{
    color: #ff0000d9;
  }
.form-container{
    position: absolute;
    // top: 50% !important;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--app-login-bg);
    display: flex;
    top: 0;
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 60px;
        .field-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .lbl{
                color: var(--app-login-lbl-color);
            }
    
            .txt-box{
                height: 40px;
                padding: 10px;
                border: var(--app-common-txt-box-border);
                border-radius: 5px;
    
                &:focus {
                    outline: none;
                    box-shadow: var(--app-common-txt-box-shadow)
                  }
            }
        }

        .login-btn{
            background: var(--app-button-bg);
            padding: 0px 10px;
            height: 40px;
            border: none;
            color: var(--app-button-txt-color);
            border-radius: 5px;
            cursor: pointer;
        } 
    }

    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        color: gray;
        font-size: 20px;
        padding: 0px 10px;
        cursor: pointer;
    }
}