.backdrop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #00000087;
  top: 0;
  left: 0;
}
.err{
  color: #ff0000d9;
}
.add-expense-popup {
  min-height: 400px;
  width: 100vw;
  background-color: var(--app-popup-bg-color);
  position: absolute;
  // bottom: -400px;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 50px 50px;
  // padding-top: 50px;
  animation: 0.8s forwards cubic-bezier(0.42, 0, 0.68, 1.71) animatepopup 0s;

  .group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;

    .label {
      color: var(--app-popup-lbl-color);
    }

    .item-dropdown,
    .txt-box,
    .submit-button {
      width: 100%;
      height: 40px;
      border: var(--app-common-txt-box-border);
      border-radius: 5px;
      padding: 10px;

      &:focus {
        outline: none;
        box-shadow: var(--app-common-txt-box-shadow)
      }
    }

    .submit-button {
      background: var(--app-button-bg);
      border: none;
      color: white;
      &:disabled{
        background-color: gray;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .item-count {
      padding: 0px 5px;
    }
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: gray;
    font-size: 20px;
    padding: 0px 10px;
    cursor: pointer;
  }
}

@keyframes animatepopup {
  0% {
    bottom: -400px;
  }

  100% {
    bottom: 0px;
  }
}
