<div class="birthday">
  <div class="pic-and-name-container">
    <img class="pic" height="50" width="50" src="https://www.cricbuzz.com/a/img/v1/152x152/i1/c171004/sachin-tendulkar.jpg" alt="">
    <p class="birthday-name">{{ birthday?.name }}</p>
  </div>
    
    <div class="date-three-dots-container">
        <p class="birthday-date">
            <span class="month-day">{{ formatDOB(birthday?.dob) }}</span>
          </p>
          <span class="three-dots-container" (click)="toggleActionsPopup()" *ngIf="isAuthenticated">
            <i class="fa-solid fa-ellipsis-vertical"></i>
            <app-actions-popup *ngIf="showActionsPopup" [actions]="actions" (edit)="editBirthday()" (delete)="deleteBirthday()"></app-actions-popup>
          </span>
    </div>
  </div>