<div class="contribution">
    <div class="tile">
      <div>
        <img class="pic" height="50" width="50" src="https://www.cricbuzz.com/a/img/v1/152x152/i1/c171004/sachin-tendulkar.jpg" alt="">
      </div>
      <!-- <div class="divider"></div> -->
      <div class="contributor-name-and-date-container">
        <p class="contributor-name">{{ contribution?.name }}</p>
        <p class="contributed-date">
          <span class="month-day">{{ formatMonth(contribution?.createdAt) }}</span>
          <span class="year">{{ formatDay(contribution?.createdAt) }}</span>
          <span class="year">{{ formatYear(contribution?.createdAt) }}</span>
        </p>
      </div>
    </div>
    <div class="amount-three-dots-container">
      <p class="contributed-amount">
        {{ contribution?.amount | currency:"₹"}}
      </p>
      <span class="three-dots-container" (click)="toggleActionsPopup()" *ngIf="isAuthenticated">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <app-actions-popup *ngIf="showActionsPopup" [actions]="actions" (edit)="editContribution()" (delete)="deleteContribution()"></app-actions-popup>
      </span>
    </div>
  </div>