* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::ng-deep #toast-container {
  .toast-success {
    width: 100vw;
    left: 12px;
    top: -12px;
  }

  .toast-error {
    width: 100vw;
    left: 12px;
    top: -12px;
  }
}

.add-expense-totalcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .add-expense {
    background-color: var(--app-button-bg);
    padding: 0px 10px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .total{
    color: gray;
    .total-value{
      font-size: 24px;
    }
  }
}

.expense-list {
  height: calc(100vh - 120px);
  overflow-y: scroll;
  margin-top: 10px;
  padding-right: 10px;

  .expense-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .expense {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      background-color: var(--app-tile-bg-color);
  
      .date-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .item-bought {
          color: #545454;
          display: flex;
          align-items: center;
          font-size: 14px;
  
          .item-count {
            color: #949494;
          }
        }
  
        .divider{
          height: 90%;
          width: 1px;
          background-color: #aeaeae;
        }
    
        .expense-date {
          font-size: 12px;
          color: #a5b75c;
          display: flex;
          flex-direction: column;
          text-align: center;
  
          .moth-day{
  
          }
          .year{
  
          }
        }
      }
  
      .expnse-amount {
        color: #ff8298;
      }
    }
  }
}

.expense-list::-webkit-scrollbar {
  width: var(--app-scrollbar-width);
}
.expense-list::-webkit-scrollbar-track {
  background: var(--app-scrollbar-track-color);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.expense-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: var(--app-scrollbar-thumb-color);
}
