* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::ng-deep #toast-container {
  .toast-success {
    width: 100vw;
    left: 12px;
    top: -12px;
  }

  .toast-error {
    width: 100vw;
    left: 12px;
    top: -12px;
  }
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - var(--app-menu-height));
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.add-expense-totalcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  .add-expense {
    background: var(--app-button-bg);
    padding: 0px 10px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .total{
    color: gray;
    margin-left: auto;
    .total-value{
      font-size: 24px;
    }
  }
}

.expense-list {
  height: calc(100vh - 110px);
  overflow-y: scroll;
  margin-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  .expense-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .month-header{
      color: var(--app-month-header);
    }
    .expense {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 18px 10px;
      border-radius: 5px;
      background-color: var(--app-tile-bg-color);
  
      .date-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .item-bought {
          
          display: flex;
          align-items: center;
          
  
          .item-name{
            color: var(--app-tile-txt-color);
            // font-weight: bold;
          }
          .item-count {
            color: #949494;
          }
        }
  
        .divider{
          height: 100%;
          width: 1px;
          background-color: #aeaeae;
        }
    
        .expense-date {
          font-size: 12px;
          color: #adadad;
          display: flex;
          flex-direction: column;
          text-align: center;
  
          .moth-day{
  
          }
          .year{
  
          }
        }
      }
  
      .expense-amount {
          color: var(--app-tile-txt-color);
        // font-weight: bold;
      }
    }
  }
}

.expense-list::-webkit-scrollbar {
  width: var(--app-scrollbar-width);
}
.expense-list::-webkit-scrollbar-track {
  background: var(--app-scrollbar-track-color);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.expense-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: var(--app-scrollbar-thumb-color);
}
