<div class="add-expense-totalcontainer">
  <div class="total">
    <div class="total-value">{{total | currency:"₹"}}</div>
    <button class="add-expense" (click)="showAddExpensePopup()" *ngIf="isAuthenticated">+</button>
  </div>
</div>
<div class="expense-list" *ngIf="!loadingExpenses; else loader">
  <ng-container *ngIf="expenses.length > 0; else noExpenses">
    <div class="expense-container" *ngFor="let expenso of expenses">
      <p class="month-header">{{getMonthHeader(expenso)}}</p>
      <app-expense *ngFor="let expense of monthlyExpenses(expenso)" [expense]="expense" (edit)="showAddExpensePopup($event)" (delete)="deleteExpense($event)"></app-expense>
    </div>
  </ng-container>
  <ng-template #noExpenses>
    <h2 class="no-expenses-found">No Expenses Found!</h2>
  </ng-template>
</div>

<ng-template #loader>
  <div class="loader-container">
    <ngx-scale-loader [color]="loaderColor" class="item" size="30"></ngx-scale-loader>
  </div>
</ng-template>

<app-add-popup [mode]="mode" [editId]="editId" *ngIf="isShowAddExpensePopup" (close)="closeAddExpensePopup()" [topic]="topic.EXPENSE"
  (add)="addExpense($event)" (editExpense)="editExpense($event)"></app-add-popup>

  <app-confirmation-popup [type]="confirmationTypes.deleteExpense" [message]="'Are you sure, you want delete expense?'" [buttonText]="'Yes'" *ngIf="showdeleteExpensePopup" (deleteExpense)="confirmDeletion()" (cancel)="closeDeleteExpensePopup()"></app-confirmation-popup>

<div id="overlay" toastContainer></div>