<div class="backdrop"></div>
<div class="add-spend-popup">
  <form>
    <div class="group" *ngIf="topic === topicEnum.SPEND">
      <label class="label" for="item">Item</label>
      <select class="item-dropdown" id="item">
        <option value="">Select</option>
        <option value="bat">Bat</option>
        <option value="ball">Ball</option>
        <option value="stump">Stump</option>
        <option value="grip">Grip</option>
      </select>
    </div>

    <div class="group" *ngIf="topic === topicEnum.SPEND">
      <label class="label" for="count">Count</label>
      <input id="count" type="number" class="item-count" />
    </div>

    <div class="group" *ngIf="topic === topicEnum.CONTRIBUTION">
      <label class="label" for="name">Name</label>
      <input id="name" type="text" class="item-count" />
    </div>

    <div class="group" *ngIf="topic === topicEnum.CONTRIBUTION || topic === topicEnum.SPEND">
      <label class="label" for="amount">Amount</label>
      <input id="amount" type="number" class="item-count" />
    </div>

    <div class="group">
      <button class="submit-button">Submit</button>
    </div>
  </form>
  <span class="close" (click)="closePopup()"
    ><i class="fa-solid fa-xmark"></i
  ></span>
</div>
