body[application-theme='app-light'] {
  //app
  --app-bg-color: #cecece2e;
  --app-bg-gradient: linear-gradient(-215deg, #6835aad4, #ffc3ff30);

  //menu
  --app-menu-bg: #6835aad4;
  --app-menu-item-text-color: #ffffffa3;
  --app-menu-item-active-text-color: #ffffff;
  --app-menu-height: 50px;

  //tile
  --app-tile-count-color: #949494;
  --app-tile-date-color: #adadad;
  --app-tile-bg-color: #ffffff;
  --app-tile-txt-color : #646464;
  --app-tile-three-dots-color: #000000;

  --app-month-header: #ffffff;
  --app-total-txt-color: #ffffff;
  --app-total-bg-color: #ffffff30;

  // button
  --app-button-bg: linear-gradient(45deg, #b337b6, #ff7c7c);
  --app-button-txt-color: #ffffff;
  --app-button-box-shadow: #f77a9099 0px 0px 10px 2px;

  //scrollbar
  --app-scrollbar-width: 4px;
  --app-scrollbar-track-color: #00000040;
  --app-scrollbar-thumb-color: #ffffff;
  
  //popup
  --app-popup-bg-color: #ffffff;
  --app-popup-lbl-color: #ff8298;

  //dark mode toggle
  --app--darkmode-bg: #000000;

  //login screen
  --app-login-bg: #ffffff;
  --app-login-lbl-color: #ff8298;

  //logout screen
  --app-logout-question-txt-color : '#000000';
  --app-cancel-btn-txt-color: #ffffff;
  --app-cancel-btn-bg-color: gray;
  --app-logout-btn-txt-color: #ffffff;

  //common
  --app-common-lbl-color: #ff8298;
  --app-common-txt-color: #000000;
  --app-common-txt-box-border: 1px solid #ff8298;
  --app-common-txt-box-shadow: 0px 0px 4px 2px pink;

  //settings
  --app-settings-option-bg-color: #6835aad4;
  --app-settings-option-txt-color: #ffffff;
  --app-settings-option-divider-bg-color: #ffffff;
  --app-slider-toggle-body-color: #ffffff;
  --app-slider-toggle-thumb-color: #6835aad4;
  

  //action popup
  --app-actions-popup-bg-color: #ffffff;
  --app-actions-popup-txt-color: #000000;
  --app-actions-popup-box-shadow: 0px 0px 10px 0px #80808052;
}

body[application-theme='app-dark'] {
  //app
  --app-bg-color: black;
  --app-bg-gradient: linear-gradient(-215deg, #545151d4, #ffc3ff30);

  //menu
  --app-menu-bg: #424242;
  --app-menu-item-text-color: #9c9c9c;
  --app-menu-item-active-text-color: #ffffff;
  --app-menu-height: 50px;

  //tile
  --app-tile-count-color: #97bbe8b0;
  --app-tile-date-color: #97bbe8b0;
  --app-tile-bg-color: #ffffff26;
  --app-tile-txt-color: cyan;
  --app-tile-three-dots-color: #ffffff;

  --app-month-header: #a8d5e1;

  --app-total-txt-color: #ffffff;
  --app-total-txt-color: #ffffff;
  --app-total-bg-color: #ffffff30;

  // button
  --app-button-bg: cyan;
  --app-button-txt-color: 'black';
  --app-button-box-shadow: #f77a9099 0px 0px 10px 2px;

  //scrollbar
  --app-scrollbar-width: 4px;
  --app-scrollbar-track-color: gray;
  --app-scrollbar-thumb-color: #ffffff;
  
  //popup
  --app-popup-bg-color: #212730;
  --app-popup-lbl-color: #ffffff;


  //dark mode toggle
  --app--darkmode-bg: cyan;

  //login screen
  --app-login-bg: #212730;
  --app-login-lbl-color: #ffffff;

  //logout screen
  --app-logout-question-txt-color : '#000000';
  --app-cancel-btn-txt-color: #ffffff;
  --app-cancel-btn-bg-color: gray;
  --app-logout-btn-txt-color: #ffffff;

  //common
  --app-common-lbl-color: #ffffff;
  --app-common-txt-color: #ffffff;
  --app-common-txt-box-border: 1px solid #7aeaf6;
  --app-common-txt-box-shadow: none;

  //settings
  --app-settings-option-bg-color: #424242;
  --app-settings-option-txt-color: #ffffff;
  --app-settings-option-divider-bg-color: #3c3c3c;
  --app-slider-toggle-body-color: #ffffff;
  --app-slider-toggle-thumb-color: #000000;

  //action popup
  --app-actions-popup-bg-color: #000000;
  --app-actions-popup-txt-color: #ffffff;
  --app-actions-popup-box-shadow: 0px 0px 5px 1px #fffffff0;
}

