<div class="add-spend-totalcontainer">
  <button class="add-spend" (click)="showAddSpendPopup()">Add Spending</button>
  <div class="total">
    <span class="total-value">{{total | currency:"₹"}}</span>
  </div>
</div>
<div class="spending-list">
  <div class="spending" *ngFor="let spending of spendings">
    <div class="item-row1">
      <p class="item-bought">
        {{ spending.item }}
        <span class="item-count">({{ spending.count }})</span>
      </p>
      <p class="spent-amount">{{ spending.uom }}{{ spending.price | currency:"₹"}}</p>
    </div>
    <p class="spent-date">{{ formatDate(spending.createdAt) }}</p>
  </div>
</div>

<app-add-popup
  *ngIf="isShowAddSpendPopup"
  (close)="closeAddSpendPopup()"
  [topic]="topic.SPEND"
  (add)="addSpending($event)"
></app-add-popup>

<div id="overlay" toastContainer></div>
