* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  ::ng-deep #toast-container {
    .toast-success {
      width: 100vw;
      left: 12px;
      top: -12px;
    }

    .toast-error {
      width: 100vw;
      left: 12px;
      top: -12px;
    }
  }
  .loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .add-contribution-totalcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .add-contribution {
      background: var(--app-button-bg);
      padding: 0px 10px;
      height: 40px;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .total{
      color: gray;
      .total-value{
        font-size: 24px;
      }
    }
  }

.contribution-list {
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  margin-top: 10px;

  .contribution-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .contribution {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 18px 10px;
      border-radius: 5px;
      background-color: var(--app-tile-bg-color);
  
  
      .contributor-name-date-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
  
        .divider{
          height: 100%;
          width: 1px;
          background-color: #aeaeae;
        }
  
        .contributed-date{
          font-size: 12px;
            color: #adadad;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .contributor-name {
          color: black;
          // font-weight: bold;
        }
    
        .contributed-amount {
          color: #ff8298;
        }
      }
    }
  }
}

.contribution-list::-webkit-scrollbar {
  width: var(--app-scrollbar-width);
}

.contribution-list::-webkit-scrollbar-track {
  background: var(--app-scrollbar-track-color);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.contribution-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: var(--app-scrollbar-thumb-color);
}