<div class="add-contribution-totalcontainer">
  
  <div class="total">
    <!-- <span class="total-label">Total :</span> -->
    <div class="total-value" *ngIf="!loadingContributions; else amountLoader">{{total | currency:"₹"}}</div>
    <ng-template #amountLoader>
      <div class="amount-loader-container">
        <ngx-pulse-loader [color]="loaderColor" class="item" size="12"></ngx-pulse-loader>
      </div>
    </ng-template>
    <button class="add-contribution" (click)="showAddContributionPopup()" *ngIf="isAuthenticated">+</button>
  </div>
</div>
<div class="contribution-list" *ngIf="!loadingContributions; else loader">
  <ng-container *ngIf="contributions.length > 0; else noContributions">
    <div class="contribution-container" *ngFor="let contro of contributions">
      <p class="month-header">
        <span class="menu-item-icon"><i class="fa-solid fa-calendar"></i></span>
        {{getMonthHeader(contro)}}</p>
        <app-contribution *ngFor="let contribution of monthlyContributions(contro)" [contribution]="contribution" (edit)="showAddContributionPopup($event)" (delete)="deleteContribution($event)"></app-contribution>
    </div>
  </ng-container>
  <ng-template #noContributions>
    <h2 class="no-contributions-found">No Contributions Found!</h2>
</ng-template>
</div>

<ng-template #loader>
  <div class="loader-container">
    <ngx-scale-loader [color]="loaderColor" class="item" size="30"></ngx-scale-loader>
  </div>
</ng-template>

<app-add-popup *ngIf="isShowContributionPopup" (close)="closeAddContributionSpendPopup()"
  [topic]="topic.CONTRIBUTION" [mode]="mode" [editId]="editId"  (add)="addContribution($event)" (editContribution)="editContribution($event)"></app-add-popup>

  <app-confirmation-popup [type]="confirmationTypes.deleteContribution" [message]="'Are you sure, you want delete contribution?'" [buttonText]="'Yes'" *ngIf="showdeleteContributionPopup" (deleteContribution)="confirmDeletion()" (cancel)="closeDeleteContributionPopup()"></app-confirmation-popup>

<div id="overlay" toastContainer></div>