* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  ::ng-deep #toast-container {
    .toast-success {
      width: 100vw;
      left: 12px;
      top: -12px;
    }

    .toast-error {
      width: 100vw;
      left: 12px;
      top: -12px;
    }
  }
  .loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - var(--app-menu-height));
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    position: fixed;
  }

  .add-contribution-totalcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    .add-contribution {
      background: var(--app-button-bg);
      padding: 0px 10px;
      height: 40px;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .total{
      color: var(--app-total-txt-color);
      margin-left: auto;
      .total-value{
        font-size: 24px;
      }
    }
  }

.contribution-list {
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  margin-top: 10px;
  padding-bottom: 10px;

  .contribution-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .month-header{
      color: var(--app-month-header);
    }
  }

  .no-contributions-found{
    margin-top: 10px;
    text-align: center;
    color: var(--app-common-txt-color);
  }
}

.contribution-list::-webkit-scrollbar {
  width: var(--app-scrollbar-width);
}

.contribution-list::-webkit-scrollbar-track {
  background: var(--app-scrollbar-track-color);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.contribution-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: var(--app-scrollbar-thumb-color);
}