.lbl{
  color: var(--app-settings-option-txt-color);
}

.settings-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    .login-container, .logout-container, .dark-mode-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .dark-mode-container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: var(--app-settings-option-bg-color);
      border-radius: 10px;
        .switch {
            position: relative;
            display: inline-block;
            width: 54px;
            height: 26px;
          }
          
          .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: var(--app--darkmode-bg);
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px var(--app--darkmode-bg);
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          
          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
    }

    .divider{
      height: 1px;
      background-color: var(--app-settings-option-divider-bg-color);
      width: 100%;
    }

    .login-container, .logout-container, .clear-contributions-container, .clear-expenses-container{
        padding: 10px;
        background-color: var(--app-settings-option-bg-color);
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .login-icon{
            color: #5182b1;
        }

        .logout-icon, .trash-can-icon{
            color: #e0425e
        }
        
    }
}